---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.side-navbar {
  background-color: #333333;
  display: none;
  position: fixed;
  opacity: 0.8;
  right: 0;
  bottom: 0;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 48px;
  font-size: 34px;
  font-family: "Roboto Slab", serif;
  margin: 0;
  width: 300px;
  height: fit-content; }
  .side-navbar ul {
    display: block;
    margin: 0;
    text-align: left; }
  .side-navbar li {
    display: block;
    padding: 0 30px 0 6px;
    margin: 0;
    width: 100%;
    color: #e6e6e6;
    cursor: pointer;  }
    .side-navbar a {
      display: inline-block;
      width: 100%;
      color: #e6e6e6; }
  .side-nav-btn {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    opacity: 0.8;
    right: 0;
    bottom: 0; }
    .side-nav-btn div {
      width: 44px;
      height: 44px; }
    .side-nav-btn:hover {
      cursor: pointer; }
  .side-nav-btn-corner {
    text-align: center;
    width: 44px;
    height: 44px;
    display: block; }
    .side-nav-btn-corner span::before {
      font-size: 36px;
      line-height: 44px; 
      width: 100%;
      height: 100%; }
  .side-nav-btn-bar {
    z-index: 99999;
    height: 44px;
    width: 312px; }
    .side-nav-btn-bar span::before {
      font-size: 36px;
      line-height: 44px; 
      width: 100%;
      height: 100%; }

@-webkit-keyframes go-up {
  0% {
    opacity: 0;
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px); }
  60% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }
  80% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 0.8;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
}

@-moz-keyframes go-up {
  0% {
    opacity: 0;
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px); }
  60% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }
  80% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 0.8;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
}

@-o-keyframes go-up {
  0% {
    opacity: 0;
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px); }
  60% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }
  80% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 0.8;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
}

@keyframes go-up {
  0% {
    opacity: 0;
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px); }
  60% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }
  80% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 0.8;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@-o-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

.go-up {
  -webkit-animation: go-up 1s ease-out;
  animation: go-up 1s ease-out; }

.fade-out {
  opacity: 0;
  -webkit-animation: fade-out 1s ease-out;
  animation: fade-out 1s ease-out; }

.fade-in {
  opacity: 1;
  -webkit-animation: fade-in 1s ease-out;
  animation: fade-in 1s ease-out; }

@media all and (max-width: 960px) {
  .side-navbar {
    width: 100%; }

  .side-nav-btn-bar {
    width: 100%; }

}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.fa-rotate-225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg); }

.fa-rotate-315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg); }

.navigation__item div {
  padding: 10px 20px;
  border: 1px solid #e25440;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #e25440;
  -webkit-font-smoothing: antialiased; }
  .btn:hover, .navigation__item div:hover {
    color: #b9301c;
    border-color: #b9301c; }

.navigation__item div {
  cursor: pointer;
  display: block;
  position: relative;
  border-color: #FFF;
  color: #FFF;
  opacity: .8; }
  .navigation__item div:hover {
    color: #FFF;
    border-color: #FFF;
    opacity: 1; }

.navigation--social div {
  cursor: pointer;
  padding: 6px 8px 6px 9px; }
  .navigation--social div .icon {
    display: block;
    font-size: 1.7em; }

@media all and (max-width: 340px) {
  .navigation__item div {
    display: block;
    margin-bottom: .4em; } }

.fa-17 { font-size: 1.7em; }

.btn-mobile-menu { line-height: 43px; }
